@model IEnumerable<Automate.WEB.Models.DrinkViewModel>

@{
    ViewBag.Title = "Напитки";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Напитки</h2>

<p>
    @Html.ActionLink("Добавить", "CreateDrink") |
    @Html.ActionLink("Монеты", "Coins") |
    @Html.ActionLink("Импорт напитков", "ImportDrinks") |
    @Html.ActionLink("Импорт картинок", "CreatePicture")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditDrink", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "DeleteDrink", new { id=item.Id })
        </td>
    </tr>
}

</table>
